<p style="color: green"><%= notice %></p>


<%= render @portfolio %>

<p>
<strong>Image data:</strong>
<%= image_tag @portfolio.image_url if @portfolio.image %>
</p>

<div>
  <%= link_to "Edit this portfolio", edit_portfolio_path(@portfolio) %> |
  <%= link_to "Back to portfolios", portfolios_path %>

  <%= button_to "Destroy this portfolio", @portfolio, method: :delete %>
</div>
