<p style="color: green"><%= notice %></p>


<%= render @portfolio %>

<div>
  <button type="button" class="btn" style="background: white; box-shadow: 10px 5px 5px red;">
    <%= link_to "Edit this portfolio", edit_portfolio_path(@portfolio) %>
  </button>
  <button type="button" class="btn" style="background: white; box-shadow: 10px 5px 5px red;">
    <%= link_to "Back to portfolios", portfolios_path %>
  </button>
  <%= button_to "Delete", @portfolio, method: :delete %>
</div>
